**GRedressWeb/nbproject/private/
**GRedressWeb/nbproject/Makefile-*.mk
**GRedressWeb/nbproject/Package-*.bash
GRedressWeb/build/
GRedressWeb/nbbuild/
GRedressWeb/dist/
GRedressWeb/nbdist/
GRedressWeb/src/java/redress_config.properties
